*.DS_Store
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/storage/worker
.env
.env.backup
.env.production
.phpunit.result.cache
composer
composer.phar
Homestead.json
Homestead.yaml
auth.json
.idea
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/FASTPANEL HOSTING CONTROL.html